/**
 * Contao Open Source CMS
 *
 * Copyright (c) 2005-2016 Leo Feyer
 *
 * @license LGPL-3.0+
 */

/* Body */
body {
	background:#f5f5f5 url("images/hbg.jpg") repeat-x;
}
body.popup {
	background:#fff;
	padding:6px 0;
}

/* Header */
#header {
	width:958px;
	margin:18px auto;
	text-align:left;
	background:#fff;
	border:1px solid #bbb;
	border-radius:3px;
	box-shadow:0 3px 6px #ccc;
}
#header h1 {
	margin:1px;
	padding:4px 8px 6px;
	color:#fff;
	border-radius:3px 3px 0 0;
}
#tmenu {
	margin:0;
	padding:6px 11px 8px;
	text-align:right;
	color:#444;
}

/* Container */
#container {
	width:960px;
	margin:0 auto;
}
.popup #container {
	padding:0;
	width:741px;
}

/* Left */
#left {
	width:203px;
	background: red;
	border:1px solid #bbb;
	float:left;
	border-radius:3px;
	box-shadow:0 3px 6px #ccc;
}

/* Main */
#main {
	width:741px;
	padding:1px;
	margin-left:10px;
	background:#fff;
	border:1px solid #bbb;
	float:left;
	border-radius:3px;
	box-shadow:0 3px 6px #ccc;
}
.popup #main {
	padding:0;
	margin:0;
	border:0;
	float:none;
	box-shadow:none;
}

/* Footer */
#footer {
	width:960px;
	margin:0 auto;
	padding:12px 0 36px;
	text-align:right;
}
#footer div {
	margin:0;
	padding:0 1px;
}
#footer span {
	padding-left:12px;
}

/* Navigation */
#tl_navigation h1 {
	margin:1px 1px 0;
	padding:4px 8px 6px;
	color:#fff;
	border-radius:3px 3px 0 0;
}
#tl_navigation .tl_level_1 {
	margin-top:6px !important;
}
#tl_navigation .tl_level_1_group {
	padding:3px 6px !important;
	font-weight:bold;
}
#tl_navigation .tl_level_1_group img {
	margin-right:2px;
	vertical-align:middle;
	position:relative;
	top:-1px;
}
#tl_navigation .tl_level_2 {
	padding:0 0 9px 24px !important;
}
#tl_navigation .tl_level_2 a {
	font-weight:normal;
	line-height:19px;
}
#tl_navigation .active {
	color:#77ac45;
}

/* Buttons */
#tl_buttons,#tl_buttons_a {
	margin:0;
	padding:9px 9px 0;
	text-align:right;
}
.toggleWrap {
	cursor:pointer;
	vertical-align:text-bottom;
}
.opacity {
	-moz-opacity:.8;
	opacity:.8;
}

/* Data container */
h1.main_headline {
	margin:0;
	padding:4px 8px 6px;
	color:#fff;
	border-radius:3px 3px 0 0;
}
.popup h1.main_headline {
	display:none;
}
h2.sub_headline,h2.sub_headline_all,h2.sub_headline_update,h2.sub_headline_index,h2.sub_headline_rss {
	margin:3px 18px 9px;
	padding:6px 0 8px 36px;
	color:#8ab858;
	font-size:14px;
	font-size:.875rem;
}
h2.sub_headline {
	background:url("images/current.gif") no-repeat left center;
}
h2.sub_headline_all {
	background:url("images/all_big.gif") no-repeat left center;
}
h2.sub_headline_update {
	background:url("images/update.gif") no-repeat left center;
}
h2.sub_headline_index {
	background:url("images/index.gif") no-repeat left center;
}
.tl_message {
	margin:18px 18px 0;
}
.tl_gerror {
	margin:12px 6px 6px;
	padding:2px 0 3px 20px;
	background:url("images/error.gif") no-repeat left center;
}
.tl_error,.tl_confirm,.tl_info,.tl_new {
	margin:1px 0 0;
	padding:4px 5px 5px 25px;
	border-radius:3px;
}
.tl_error {
	background:#faeeee url("images/error.gif") no-repeat 5px center;
}
.tl_confirm {
	background:#f3f8ee url("images/ok.gif") no-repeat 5px center;
}
.tl_info {
	background:#eff5fa url("images/show.gif") no-repeat 6px center;
}
.tl_new {
	background:#fff3e0 url("images/featured.gif") no-repeat 5px center;
}
.tl_gerror,.tl_gerror a,.tl_error,.tl_error a {
	color:#c33;
}
.tl_confirm,.tl_confirm a {
	color:#77ac45;
}
.tl_info,.tl_info a {
	color:#4b85ba;
}
.tl_new,.tl_new a {
	color:#d68c23;
}
#lu_message {
	margin-top:0;
}
#lu_message .tl_confirm,#lu_message .tl_info {
	padding-left:18px;
	background-position:left center;
	background-color:transparent;
}
.nobg .tl_error,.nobg .tl_confirm,.nobg .tl_info,.nobg .tl_new {
	background-color:transparent;
}
.tl_permalert {
	margin:0;
	background-image:none;
	padding:8px 12px 10px;
	border-top:1px solid #ccc;
}
.tl_permalert a {
	float:right;
	margin:1px 3px 0 24px;
	color:#555;
}

/* Filter */
.tl_panel,.tl_version_panel {
	padding:6px 6px 7px 0;
	background:#f3f3f3;
	border-top:1px solid #fff;
	border-bottom:1px solid #bbb;
	text-align:right;
}
.tl_panel_bottom {
	margin-top:1px;
	padding:6px 6px 6px 0;
	background:#f3f3f3;
	border-top:1px solid #bbb;
	text-align:right;
}
.tl_version_panel .tl_select {
	width:240px;
}
.mac .tl_version_panel .tl_select,.mac .tl_panel_bottom .tl_select {
	font-size:11px;
	font-size:.6875rem;
}
.safari .tl_version_panel,.ie .tl_version_panel {
	overflow:hidden; /* see #5854 */
}
.tl_version_panel .tl_formbody {
	position:relative;
}
.safari .tl_version_panel .tl_formbody,.ie .tl_version_panel .tl_formbody {
	float:right; /* see #5854 */
}
.tl_version_panel .tl_submit {
	margin-top:1px;
	vertical-align:top;
}
.webkit .tl_version_panel .tl_submit,.ie .tl_version_panel .tl_submit {
	padding-top:4px;
	padding-bottom:4px;
}
.opera .tl_version_panel .tl_submit {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:-1px;
}
.tl_version_panel img {
	position:relative;
	top:4px;
	vertical-align:top;
}
.tl_subpanel {
	padding-left:24px;
	float:right;
}
.tl_subpanel strong {
	line-height:21px;
}
.tl_subpanel select {
	height:20px;
}
.tl_submit_panel {
	padding-left:6px;
}
.tl_img_submit {
	position:relative;
	top:3px;
	vertical-align:top;
}
.tl_panel .active,.tl_panel_bottom .active,#search .active {
	background:#ffd;
}
.tl_panel .tl_select {
	width:116px;
}
.tl_filter .tl_select {
	width:104px;
}
.tl_limit .tl_select {
	width:90px;
}
.tl_search .tl_text {
	width:66px;
	-webkit-appearance:textfield;
	box-sizing:content-box;
}
input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none;
}
.mac .tl_panel .tl_select,.mac .tl_panel .tl_text {
	font-size:11px;
	font-size:.6875rem;
}
.mac .tl_panel select {
	max-width:164px;
}

/* Boxes */
.tl_xpl,.tl_formbody_edit {
	padding:0 18px;
}
.popup .tl_formbody_edit {
	padding-bottom:52px;
}
.tl_tbox {
	padding:0 0 26px;
}
.tl_box {
	padding:12px 0 26px;
	border-top:1px solid #ddd;
}
.tl_box h3,.tl_tbox h3,.tl_xpl h3 {
	margin:0;
	padding:14px 0 1px;
	font-weight:bold;
}
.tl_box h4,.tl_tbox h4 {
	margin:6px 0 0;
	padding:0;
	font-weight:bold;
	font-size:11px;
	font-size:.6875rem;
}
.tl_tbox.theme_import h3,.tl_tbox.theme_import h4,.tl_tbox.theme_import p {
	line-height:1.5;
}
.tl_help,.tl_help a {
	margin-bottom:0;
	padding:1px 0;
	line-height:normal;
	font-size:10px;
	font-size:.625rem;
	color:#999;
}
.tl_help a:hover,.tl_help a:focus,.tl_help a:active {
	text-decoration:underline;
}
.tl_formbody_submit {
	border-top:1px solid #bbb;
}
.popup .tl_formbody_submit {
	z-index:5;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	max-height:52px;
}
.tl_submit_container {
	padding:12px 18px;
	background:#f3f3f3;
	border-top:1px solid #fff;
}
.maintenance_inactive .tl_submit_container {
	background:none;
	margin:-12px 0 28px;
	padding-top:0;
	padding-bottom:0;
	border:0;
}
.maintenance_inactive {
	margin-top:48px;
}
#tl_buttons+.maintenance_inactive {
	margin-top:0;
}
#search {
	margin:18px 18px -9px;
	text-align:right;
}
#search .tl_text {
	width:160px;
	padding:3px 2px;
}
.mac #search .tl_text {
	padding:4px 2px;
}
.tl_edit_preview {
	margin-top:18px;
}
.tl_edit_preview img {
	padding:2px;
	border:1px solid #ddd;
	background:#fff;
	box-shadow:0 1px 3px #ddd;
}
.tl_edit_preview_enabled {
	position:relative;
	cursor:crosshair;
}
.tl_edit_preview_important_part {
	position:absolute;
	margin:-1px;
	border:1px solid #000;
	box-shadow:0 0 0 1px #fff, inset 0 0 0 1px #fff;
	opacity:0.5;
}

/* Rebuild the search index */
#tl_rebuild_index {
	padding:0 18px 18px;
	line-height:1.5;
}
#index_note {
	margin:24px 0 18px;
	padding:11px 12px 12px;
	background:#ffc;
	border:1px solid #f90;
	line-height:1;
	font-size:14px;
	font-size:.875rem;
}
#index_loading {
	margin:0 0 12px;
	padding:12px 12px 12px 36px;
	background:url("images/loading.gif") no-repeat 2px center;
	line-height:1;
	font-size:16px;
	font-size:1rem;
	color:#4b85ba;
}
#index_complete {
	margin:0 0 12px;
	padding:12px 12px 12px 36px;
	background:url("images/help.gif") no-repeat left center;
	line-height:1;
	font-size:16px;
	font-size:1rem;
	color:#77ac45;
}

/* Listing */
.tl_listing {
	width:705px;
	margin:2px 0 !important;
}
.tl_listing_container {
	padding:2px 0;
	margin:24px 18px;
}
.tl_folder_list,.tl_folder_tlist {
	padding:2px 0 3px;
	border-bottom:1px solid #e9e9e9;
	background:#f3f3f3;
	font-weight:bold;
}
.tl_folder_tlist {
	border-top:1px solid #e9e9e9;
}
.tl_file,.tl_file_list {
	padding:1px 0;
	border-bottom:1px solid #e9e9e9;
	background:#fff;
}
.tl_file_list {
	padding:2px 0 3px;
}
.tl_file_list .ellipsis {
	height:15px;
	text-overflow:ellipsis;
	overflow:hidden;
	padding-right:18px;
	word-break:break-all;
}
.tl_right_nowrap {
	padding:2px 0;
	text-align:right;
	white-space:nowrap;
}
.tl_file a:hover,.tl_file a:focus,.tl_file a:active {
	color:#555;
}
.tl_listing_container .tl_content ul li > * {
	vertical-align:middle;
}

/* List view */
.tl_listing tr.odd td {
	background-color:#fafafa;
}
.tl_listing th,.tl_listing td {
	padding-left:6px !important;
	padding-right:6px !important;
}
.list_view .tl_listing img {
	vertical-align:-4px;
}
.list_view .tl_listing img.theme_preview {
	margin:3px 6px 3px 0;
	vertical-align:middle;
}
.tl_show {
	width:705px;
	margin:3px 18px 18px;
	padding:9px 0 18px;
}
.tl_bg {
	background:#f6f6f6;
}
.tl_show td {
	padding:4px 0;
}
.tl_label {
	margin-right:12px;
	font-weight:bold;
	white-space:nowrap;
}
.tl_empty {
	margin:0;
	padding:12px 6px 6px;
}
.tl_empty_parent_view {
	margin:0;
	padding:18px 0 0;
}
.tl_noopt {
	margin:0 0 -1px;
}
.tl_select_trigger {
	padding:0 6px 3px 0;
	text-align:right;
}
.tl_select_label {
	position:relative;
	top:-2px;
	color:#999;
	font-size:10px;
	font-size:.625rem;
}

/* Parent view */
.tl_header {
	width:693px;
	padding:6px;
	background:#f9f9f9;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.tl_header_table {
	padding:3px 0;
	line-height:16px;
}
.tl_content_header {
	padding:2px 6px 3px;
	border-bottom:1px solid #e9e9e9;
	background:#f6f6f6;
	font-weight:bold;
}
.tl_content {
	width:693px;
	padding:6px;
	border-bottom:1px solid #e9e9e9;
	overflow:hidden;
	position:relative;
}
.tl_content.wrapper_start,.tl_content.wrapper_separator,.tl_content.wrapper_stop {
	background:#f3f3f3;
}
.tl_content.wrapper_start,.tl_content.wrapper_separator {
	border-bottom:0;
}
.tl_content.wrapper_stop,.tl_content.wrapper_separator {
	border-top:0;
}
.tl_content.wrapper_start h1 {
	margin:0 0 9px 6px;
}
.tl_content.indent {
	width:673px;
	border-left:10px solid #f3f3f3;
	border-right:10px solid #f3f3f3;
}
.tl_content.indent_1.wrapper_start,.tl_content.indent_1.wrapper_separator,.tl_content.indent_1.wrapper_stop {
	background:#eaeaea;
}
.tl_content.indent_1.wrapper_stop {
	border-bottom-color:#dbdbdb;
}
.tl_content.indent_2 {
	width:653px;
	margin-left:10px;
	margin-right:10px;
	box-shadow:-10px 0 #f3f3f3,10px 0 #f3f3f3;
	border-left-color:#eaeaea;
	border-right-color:#eaeaea;
}
.tl_content.indent_3 {
	width:633px;
	margin-left:20px;
	margin-right:20px;
	box-shadow:-10px 0 #eaeaea,10px 0 #eaeaea,-20px 0 #f3f3f3,20px 0 #f3f3f3;
}
.tl_content.indent_3.wrapper_start,.tl_content.indent_3.wrapper_separator,.tl_content.indent_3.wrapper_stop {
	background:#eaeaea;
}
.tl_content.indent_3.wrapper_stop {
	border-bottom-color:#dbdbdb;
}
.tl_content.indent_4 {
	width:613px;
	margin-left:30px;
	margin-right:30px;
	box-shadow:-10px 0 #f3f3f3,10px 0 #f3f3f3,-20px 0 #eaeaea,20px 0 #eaeaea,-30px 0 #f3f3f3,30px 0 #f3f3f3;
	border-left-color:#eaeaea;
	border-right-color:#eaeaea;
}
.tl_content.indent_5 {
	width:593px;
	margin-left:40px;
	margin-right:40px;
	box-shadow:-10px 0 #eaeaea,10px 0 #eaeaea,-20px 0 #f3f3f3,20px 0 #f3f3f3,-30px 0 #eaeaea,30px 0 #eaeaea,-40px 0 #f3f3f3,40px 0 #f3f3f3;
}
.no_padding {
	padding:2px 6px;
}
.tl_content h1 {
	padding:0;
	margin:0 0 12px;
}
.tl_content pre {
	margin-top:3px;
	margin-bottom:3px;
	word-break:break-all;
	white-space:pre-wrap;
}
.tl_content pre.disabled {
	color:#a6a6a6;
}
.tl_content .ce_text a {
	color:#77ac45;
}
.tl_content span.comment {
	color:#4b85ba;
	display:inline-block;
	margin-bottom:3px;
}
.tl_content_left {
	float:left;
	width:500px;
}
.webkit .tl_content_left {
	margin-top:1px;
	margin-bottom:1px;
}
.tl_content_right {
	float:right;
	text-align:right;
	margin-left:12px;
}
.tl_content_right img {
	vertical-align:-4px;
}
.cte_type {
	width:520px;
	margin-bottom:9px;
	font-size:10px;
	font-size:.625rem;
	color:#c6c6c6;
}
.cte_type.published {
	padding:1px 0 2px 20px;
	background:url("images/published.gif") no-repeat left center;
}
.cte_type.unpublished {
	padding:1px 0 2px 20px;
	background:url("images/unpublished.gif") no-repeat left center;
}
.cte_type.published,.cte_type.published a {
	color:#77ac45;
	font-size:10px;
	font-size:.625rem;
}
.cte_type.unpublished,.cte_type.unpublished a {
	color:#c33;
	font-size:10px;
	font-size:.625rem;
}
.limit_height {
	overflow:hidden;
}
.limit_toggler {
	margin-top:9px;
}
.limit_height input[type="file"] {
	position:relative;
}
.tl_form_field_preview td {
	padding-right:6px;
	vertical-align:top;
}
.tl_form_field_preview td.col_0 {
	min-width:180px;
	padding-top:3px;
}
.tl_form_field_preview .text,.tl_form_field_preview .password {
	width:140px;
}
.tl_form_field_preview .select {
	width:144px;
}
.tl_form_field_preview textarea {
	width:280px;
}
.tl_form_field_preview .checkbox_container legend,.tl_form_field_preview .radio_container legend {
	position:absolute;
	left:4px;
	margin-top:3px;
}

/* Tree view */
.tl_folder_top {
	padding:1px 0;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	background:#f0f0f0;
}
.tl_folder {
	padding:1px 0;
	border-bottom:1px solid #e9e9e9;
	background:#f6f6f6;
}
.tl_listing .tl_left {
	float:left;
	width:420px;
	margin-left:43px;
	text-indent:-43px;
}
.tl_tree_xtnd .tl_file .tl_left {
	margin-left:22px;
	text-indent:-22px;
}
ul.level_1 .tl_left {
	width:400px;
}
ul.level_2 .tl_left {
	width:380px;
}
ul.level_3 .tl_left {
	width:360px;
}
ul.level_4 .tl_left {
	width:340px;
}
ul.level_5 .tl_left {
	width:320px;
}
ul.level_6 .tl_left {
	width:300px;
}
ul.level_7 .tl_left {
	width:280px;
}
ul.level_8 .tl_left {
	width:260px;
}
ul.level_9 .tl_left {
	width:240px;
}
.tl_tree_xtnd .tl_folder .tl_left {
	width:460px;
}
.tl_tree_xtnd ul.level_1 .tl_folder .tl_left {
	width:440px;
}
.tl_tree_xtnd ul.level_2 .tl_folder .tl_left {
	width:420px;
}
.tl_tree_xtnd ul.level_3 .tl_folder .tl_left {
	width:400px;
}
.tl_tree_xtnd ul.level_4 .tl_folder .tl_left {
	width:380px;
}
.tl_tree_xtnd ul.level_5 .tl_folder .tl_left {
	width:360px;
}
.tl_tree_xtnd ul.level_6 .tl_folder .tl_left {
	width:340px;
}
.tl_tree_xtnd ul.level_7 .tl_folder .tl_left {
	width:320px;
}
.tl_tree_xtnd ul.level_8 .tl_folder .tl_left {
	width:300px;
}
.tl_tree_xtnd ul.level_9 .tl_folder .tl_left {
	width:280px;
}
.tl_listing .tl_right {
	float:right;
	padding:1px 0;
}
.mac.firefox .tl_listing .tl_right {
	padding:0;
}
.tl_listing,.tl_listing ul {
	margin:0;
	padding:0;
}
.tl_listing li {
	margin:0;
	padding-left:6px;
	padding-right:6px;
	list-style-type:none;
}
.tl_listing li.parent {
	display:inline;
	padding-left:0;
	padding-right:0;
}
.tree_view .tl_listing img,ul.tree_view img {
	vertical-align:-5px;
}
label.tl_change_selected {
	color:#999;
	font-style:italic;
	vertical-align:top;
}
#tl_breadcrumb {
	margin:0 0 12px;
	padding:3px;
	overflow:hidden;
	background:#ffd;
	border:1px solid #d49822;
}
#tl_breadcrumb li {
	margin:0;
	padding:0 3px;
	list-style-type:none;
	float:left;
}
#tl_breadcrumb li img {
	vertical-align:-5px;
}

/* Picker */
.selector_container ul {
	margin:0 0 3px;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.selector_container li {
	line-height:18px;
	margin-right:9px;
}
.selector_container img {
	vertical-align:top;
}
.selector_container p {
	margin-bottom:2px;
}
ul.sgallery {
	overflow:hidden;
}
ul.sgallery li {
	float:left;
	margin-right:0;
}
.gimage {
	margin:2px;
	border:1px solid #808080;
}

/* Welcome screen */
#tl_welcome {
	margin:18px 18px 24px;
	padding:6px 0 8px 36px;
	background:url("images/current.gif") no-repeat left center;
	font-size:14px;
	font-size:.875rem;
	color:#8ab858;
}
#tl_soverview {
	margin:18px;
}
#tl_soverview table {
	width:705px;
}
#tl_messages,#tl_shortcuts {
	margin-bottom:24px;
}
#tl_messages h2,#tl_shortcuts h2,#tl_versions h2 {
	margin:18px 0 6px;
	padding:2px 6px 3px;
	border:solid #e9e9e9;
	border-width:1px 0;
	background:#f6f6f6;
}
#tl_shortcuts p,#tl_versions p {
	padding-left:6px;
	padding-right:6px;
}
#tl_shortcuts p a {
	text-decoration:underline;
}
#tl_versions {
	margin-top:24px;
}
#tl_versions th {
	background:#f6f6f6;
	padding:2px 3px 3px;
	border-top:1px solid #e9e9e9;
}
#tl_versions th,#tl_versions td {
	border-bottom:1px solid #e9e9e9;
}
#tl_versions td {
	padding:1px 3px;
}
#tl_versions td img {
	position:relative;
	top:1px;
}
#tl_versions td:first-child {
	white-space:nowrap;
}
#tl_versions td:last-child {
	width:32px;
	white-space:nowrap;
	text-align:right;
}
#tl_versions img.undo {
	padding-right:2px;
}

/* CHMOD table */
.tl_chmod th {
	width:97px;
	text-align:center;
	font-weight:normal;
	background:#f0f0f0;
}
.tl_chmod td {
	width:97px;
	text-align:center;
	background:#f9f9f9;
}
.tl_chmod th,.tl_chmod td {
	padding:2px 0;
	border:1px solid #fff;
}

/* Module wizard */
.tl_modulewizard {
	margin:0;
}
.tl_modulewizard td,.tl_modulewizard th {
	padding:0 6px 1px 0;
}
.tl_modulewizard th {
	font-weight:normal;
}
.tl_modulewizard img {
	position:relative;
	top:1px;
}
.tl_modulewizard .tl_select {
	width:400px;
}
.js .tl_modulewizard input.mw_enable {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}
.tl_modulewizard img.mw_enable {
	display:none;
}
.js .tl_modulewizard img.mw_enable {
	display:inline;
	cursor:pointer;
}

/* Options wizard */
.tl_optionwizard {
	margin:0;
}
.tl_optionwizard label {
	vertical-align:top;
}
.tl_optionwizard td,.tl_optionwizard th {
	padding:0 4px 1px 0;
}
.tl_optionwizard th {
	font-weight:normal;
	text-align:left;
}
.fw_checkbox {
	margin:0 1px;
}
.tl_optionwizard img {
	position:relative;
	top:1px;
}

/* Table wizard */
#tl_tablewizard {
	width:690px;
	padding-bottom:2px;
	overflow:auto;
}
.tl_tablewizard td {
	padding:2px 4px 0 0;
}
.tl_tablewizard td.tcontainer {
	width:148px;
	height:78px;
	vertical-align:top;
}

/* List wizard */
.tl_listwizard li {
	padding-bottom:1px;
}
.tl_listwizard .tl_text {
	width:586px;
}
.tl_listwizard_img {
	position:relative;
	top:3px;
}

/* Checkbox wizard */
.tl_checkbox_wizard {
	padding-top:2px;
}
.tl_checkbox_wizard_img {
	margin-top:-1px;
	position:relative;
	top:3px;
}
.tl_checkbox_wizard .fixed {
	display:block;
	margin-top:1px;
}
.tl_checkbox_wizard .sortable span {
	display:block;
	margin:-1px 0 0;
}
.tl_checkbox_wizard label {
	display:block;
	margin:-14px 0;
	padding-left:48px;
}
.js .tl_checkbox_wizard label {
	padding-left:34px;
}
.tl_checkbox_wizard label:last-child {
	margin-bottom:0;
}
.tl_checkbox_wizard .fixed label {
	padding-left:20px;
}
.tl_checkbox_wizard .tl_checkbox {
	margin-right:0;
}

/* Meta wizard */
.tl_metawizard,.tl_metawizard li {
	margin:0 0 6px;
}
.tl_metawizard li {
	overflow:hidden;
	margin-bottom:2px;
	padding:9px;
	background:#fcfcfc;
}
.tl_metawizard li.odd {
	background:#f3f3f3;
}
.tl_metawizard label {
	float:left;
	width:100px;
	margin-top:4px;
}
.tl_metawizard .tl_text {
	float:left;
	width:528px;
}
.tl_metawizard br {
	clear:left;
}
.tl_metawizard .lang {
	display:block;
	margin-bottom:9px;
	font-weight:bold;
	position:relative;
}
.tl_metawizard_img {
	position:absolute;
	right:0;
	top:-1px;
	cursor:pointer;
}
.tl_metawizard_new .tl_select {
	width:300px;
}
.tl_metawizard_new .tl_submit {
	margin-top:1px;
	vertical-align:top;
}
.webkit .tl_metawizard_new .tl_submit,.ie .tl_metawizard_new .tl_submit {
	padding-top:4px;
	padding-bottom:4px;
}
.opera .tl_metawizard_new .tl_submit {
	padding-top:3px;
	padding-bottom:3px;
}

/* Ajax box */
#tl_ajaxBox {
	width:20%;
	padding:24px;
	position:absolute;
	left:40%;
	background:#fff url("images/loading.gif") no-repeat right center;
	border:2px solid #666;
	border-radius:6px;
	font-family:"Trebuchet MS",Verdana,sans-serif;
	font-size:15px;
	font-size:.9375rem;
	text-align:left;
}
#tl_ajaxOverlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	-moz-opacity:0.5;
	opacity: 0.5;
}

/* Misc */
.ce_gallery ul {
	overflow:hidden;
}
.ce_gallery li {
	float:left;
	margin:0 6px 6px 0;
}
#theme-store {
	margin-top:24px;
	text-align:right;
}
.drag-handle {
	position:relative;
	top:1px;
	cursor:move;
	display:none;
}
.js .drag-handle {
	display:inline;
}
.parent_view .drag-handle,.tl_tablewizard .drag-handle {
	top:0;
}
.tl_listwizard .drag-handle {
	top:3px;
}
.tl_checkbox_wizard .drag-handle {
	vertical-align:bottom;
}
.js .button-move {
	width:0;
	height:0;
	left:-1000px;
	top:-1000px;
	position:absolute;
	overflow:hidden;
	display:inline;
}
ul.sortable li {
	cursor:move;
}
ul.sortable li .dirname {
	display:none;
}
ul.sortable li:hover .dirname {
	display:inline;
}
#manager {
	margin-top:9px;
	background:#f3f3f3;
	border-bottom:1px solid #bbb;
	padding:3px 3px 4px;
}
#manager .open {
	padding:2px 15px 3px 20px;
	background:url("images/manager.gif") left center no-repeat;
}
#manager .close {
	padding:2px 15px 3px 20px;
	background:url("images/back.gif") left center no-repeat;
}
.ace_editor {
	padding:3px;
}
.ace_editor,.ace_editor * {
	font-family:Courier,monospace !important;
	font-size:12px;
	font-size:.75rem;
	color:inherit;
}
.ace-fullsize {
	overflow:hidden !important;
}
.ace-fullsize .ace_editor {
	position:fixed !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:auto !important;
	height:auto !important;
	margin:0;
	border:0;
	z-index:10000;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}

/* Navigation icons */
a.navigation.article {
	background-image:url("images/test.gif");
}
a.navigation.form {
	background-image:url("images/form.gif");
}
a.navigation.themes {
	background-image:url("images/themes.gif");
}
a.navigation.page {
	background-image:url("images/page.gif");
}
a.navigation.member {
	background-image:url("images/member.gif");
}
a.navigation.mgroup {
	background-image:url("images/mgroup.gif");
}
a.navigation.user {
	background-image:url("images/user.gif");
}
a.navigation.group {
	background-image:url("images/group.gif");
}
a.navigation.files {
	background-image:url("images/files.gif");
}
a.navigation.log {
	background-image:url("images/log.gif");
}
a.navigation.settings {
	background-image:url("images/settings.gif");
}
a.navigation.maintenance {
	background-image:url("images/cache.gif");
}
a.navigation.undo {
	background-image:url("images/undo.gif");
}
a.navigation.login {
	background-image:url("images/login.gif");
}
a.navigation.tpl_editor {
	background-image:url("images/template_editor.gif");
}

/* Default icon classes */
a.navigation,.header_icon,.header_home,.header_user,.header_preview,.header_clipboard,.header_logout,.header_back,.header_new,.header_rss,
.header_edit_all,.header_delete_all,.header_new_folder,.header_css_import,.header_theme_import,.header_store,.header_toggle,.header_sync {
	padding:2px 0 3px 20px;
	background-position:left center;
	background-repeat:no-repeat;
	margin-left:15px;
}
a.navigation {
	margin-left:0;
}
.list_icon {
	margin-left:-5px;
	padding-left:20px;
	background-position:left center;
	background-repeat:no-repeat;
}
.list_icon_new {
	width:16px;
	background-position:left center;
	background-repeat:no-repeat;
}
.webkit .list_icon,.webkit .list_icon_new {
	background-position:left -1px;
}

/* Header icons */
.header_home {
	background-image:url("images/home.gif");
}
.header_user {
	background-image:url("images/login.gif");
}
.header_preview {
	background-image:url("images/preview.gif");
}
.header_clipboard {
	background-image:url("images/clipboard.gif");
}
.header_logout {
	background-image:url("images/logout.gif");
}
.header_back {
	background-image:url("images/back.gif");
}
.header_new {
	padding-left:18px;
	background-image:url("images/new.gif");
}
.header_rss {
	background-image:url("images/rss.gif");
}
.header_edit_all {
	background-image:url("images/all.gif");
}
.header_delete_all {
	background-image:url("images/deleteAll.gif");
}
.header_new_folder {
	background-image:url("images/newfolder.gif");
}
.header_css_import {
	background-image:url("images/cssimport.gif");
}
.header_theme_import {
	background-image:url("images/theme_import.gif");
}
.header_store {
	padding-left:18px;
	background-image:url("images/store.gif");
}
.header_toggle {
	background:url("images/folPlus.gif") no-repeat -1px center;
}
.header_sync {
	background-image:url("images/sync.gif");
}

/* Visual hint for TRBL fields - thanks to Eugene Rybyakov */
.tl_text_trbl,.tl_imageSize_0,.tl_imageSize_1,#ctrl_gradient input,#ctrl_playerSize input {
	background:url("images/hints.gif") no-repeat -20px 20px;
}
#ctrl_playerSize_0 {
	background-position:right 1px !important;
}
#ctrl_playerSize_1 {
	background-position:right -18px !important;
}
.tl_imageSize_0 {
	background-position:right 1px !important;
}
.tl_imageSize_1 {
	background-position:right -18px !important;
}
.trbl_top {
	background-position:right -39px !important;
}
.trbl_right {
	background-position:right -59px !important;
}
.trbl_bottom {
	background-position:right -79px !important;
}
.trbl_left {
	background-position:right -99px !important;
}
#ctrl_shadowsize_top {
	background-position:right -119px !important;
}
#ctrl_shadowsize_right {
	background-position:right -139px !important;
}
#ctrl_shadowsize_bottom {
	background-position:right -159px !important;
}
#ctrl_shadowsize_left {
	background-position:right -179px !important;
}
#ctrl_borderradius_top {
	background-position:left -199px !important;
}
#ctrl_borderradius_right {
	background-position:right -219px !important;
}
#ctrl_borderradius_bottom {
	background-position:right -241px !important;
}
#ctrl_borderradius_left {
	background-position:left -261px !important;
}

/* Error messages */
label.error,legend.error {
	color:#c33;
}
.tl_tbox .tl_error,.tl_box .tl_error {
	background:none;
	padding:0;
	font-size:10px;
	font-size:.625rem;
}
.tl_formbody_edit > .tl_error {
	margin-top:18px;
}

/* Fieldsets */
fieldset.tl_tbox {
	margin-top:18px;
}
fieldset.tl_tbox,fieldset.tl_box {
	padding-top:6px;
	border:solid #ddd;
	border-width:1px 0 0;
}
fieldset.nolegend {
	padding-top:12px;
}
fieldset.tl_tbox > legend,fieldset.tl_box > legend {
	color:#77ac45;
	padding-left:18px;
	padding-right:3px;
	background:url("images/palOpen.gif") left center no-repeat;
	cursor:pointer;
}
fieldset.collapsed {
	padding-top:0;
	padding-bottom:12px;
	margin-bottom:0;
}
fieldset.collapsed div {
	display:none !important;
}
fieldset.collapsed > legend {
	background:url("images/palCollapsed.gif") left center no-repeat;
}

/* Maintenance */
#tl_maintenance_cache th {
	background:#f6f6f6;
	padding:2px 3px 3px;
	border-top:1px solid #e9e9e9;
}
#tl_maintenance_cache th,#tl_maintenance_cache td {
	border-bottom:1px solid #e9e9e9;
}
#tl_maintenance_cache th {
	padding:3px 6px;
}
#tl_maintenance_cache td {
	padding:6px 6px 7px;
}
#tl_maintenance_cache tr:nth-child(even) td {
	background:#fcfcfc;
}
#tl_maintenance_cache td span {
	color:#999;
}
#tl_maintenance_cache td:first-child {
	width:16px;
}
#tl_maintenance_cache .nw {
	white-space:nowrap;
}
#tl_maintenance_cache .tl_checkbox_container label {
	margin:0;
	padding-left:0;
	font-weight:bold;
	display:inline;
}

/* Pagination */
.pagination {
	overflow:hidden;
	background:#f6f6f6;
	margin-top:6px;
	border:solid #e9e9e9;
	border-width:1px 0;
}
.pagination ul {
	max-width:60%;
	float:right;
	text-align:right;
	padding-right:2px;
}
.pagination p {
	max-width:30%;
	float:left;
	margin-bottom:0;
}
.pagination li {
	float:left;
}
.pagination a,.pagination span,.pagination p {
	display:block;
	padding:3px 4px 4px;
}
.pagination .current {
	color:#999;
}
.pagination-lp {
	border:0;
	border-top:1px solid #ccc;
	padding:3px 0 4px 6px;
}

/* File synchronization */
#sync-results {
	overflow:hidden;
	margin:6px 18px 0;
}
#sync-results p {
	margin-bottom:0;
}
#sync-results .left {
	float:left;
	padding-top:2px;
}
#sync-results .right {
	float:right;
}
#sync-results .tl_checkbox {
	top:0;
}

/* DropZone */
.dz-container {
	padding:6px;
	border:3px dashed #ddd;
}
.dz-message {
	cursor:pointer;
	padding:36px 18px;
	-moz-transition:all .15s linear;
	-webkit-transition:all .15s linear;
	-o-transition:all .15s linear;
	transition:all .15s linear;
}
.dz-message span {
	font-size:21px;
	font-size:1.3125rem;
	color:#ccc;
}

/* Wide screen */
@media (min-width:1200px) {
	#header {
		width:1138px;
	}
	#container,#footer {
		width:1140px;
	}
	.popup #container,#main {
		width:921px;
	}
	.tl_listing,.tl_show {
		width:885px;
	}
	.tl_header,.tl_content {
		width:873px;
	}
	.tl_content.indent {
		width:853px;
	}
	.tl_content.indent_2 {
		width:833px;
	}
	.tl_content.indent_3 {
		width:813px;
	}
	.tl_content.indent_4 {
		width:793px;
	}
	.tl_content.indent_5 {
		width:773px;
	}
	.tl_content_left {
		width:680px;
	}
	.cte_type {
		width:700px;
	}
	.tl_listing .tl_left {
		width:600px;
	}
	ul.level_1 .tl_left {
		width:580px;
	}
	ul.level_2 .tl_left {
		width:560px;
	}
	ul.level_3 .tl_left {
		width:540px;
	}
	ul.level_4 .tl_left {
		width:520px;
	}
	ul.level_5 .tl_left {
		width:500px;
	}
	ul.level_6 .tl_left {
		width:480px;
	}
	ul.level_7 .tl_left {
		width:460px;
	}
	ul.level_8 .tl_left {
		width:440px;
	}
	ul.level_9 .tl_left {
		width:420px;
	}
	.tl_tree_xtnd .tl_folder .tl_left {
		width:640px;
	}
	.tl_tree_xtnd ul.level_1 .tl_folder .tl_left {
		width:620px;
	}
	.tl_tree_xtnd ul.level_2 .tl_folder .tl_left {
		width:600px;
	}
	.tl_tree_xtnd ul.level_3 .tl_folder .tl_left {
		width:580px;
	}
	.tl_tree_xtnd ul.level_4 .tl_folder .tl_left {
		width:560px;
	}
	.tl_tree_xtnd ul.level_5 .tl_folder .tl_left {
		width:540px;
	}
	.tl_tree_xtnd ul.level_6 .tl_folder .tl_left {
		width:520px;
	}
	.tl_tree_xtnd ul.level_7 .tl_folder .tl_left {
		width:500px;
	}
	.tl_tree_xtnd ul.level_8 .tl_folder .tl_left {
		width:480px;
	}
	.tl_tree_xtnd ul.level_9 .tl_folder .tl_left {
		width:460px;
	}
	#tl_soverview table {
		width:885px;
	}
	.tl_chmod th,.tl_chmod td {
		width:122px;
	}
	.tl_modulewizard .tl_select {
		width:460px;
	}
	#tl_tablewizard {
		width:870px;
	}
	.tl_listwizard .tl_text,.tl_metawizard .tl_text {
		width:700px;
	}
	.tl_panel .tl_select {
		width:136px;
	}
	.tl_filter .tl_select {
		width:128px;
	}
	.tl_limit .tl_select {
		width:110px;
	}
	.tl_search .tl_text {
		width:86px;
	}
	.mac .tl_panel select {
		max-width:184px;
	}
}

/* Tablet */
@media (max-width:991px) {
	#header,#left {
		width:743px;
	}
	#container {
		width:auto;
	}
	#main,#left {
		float:none;
		margin:0 auto;
	}
	#left {
		margin-bottom:18px;
	}
	#footer {
		width:745px;
	}
	.collapsible h1 {
		margin:1px 1px 0 !important;
		border-radius:3px !important;
		border-bottom:1px solid #fff;
		position:relative;
		cursor:pointer;
	}
	.collapsible h1:after {
		content:"";
		display:block;
		width:16px;
		height:16px;
		position:absolute;
		top:4px;
		right:6px;
		background:url("images/arrows.png") left top no-repeat;
	}
	.collapsible_area {
		display:none;
	}
	.collapsible.xpnd h1 {
		border-radius:3px 3px 0 0 !important;
		border-bottom:0;
	}
	.collapsible.xpnd h1:after {
		background-position:left bottom;
	}
	.collapsible.xpnd .collapsible_area {
		display:block;
	}
	#tl_navigation .tl_level_2 li {
		min-width:150px;
		margin:1px 18px 6px 0;
		display:inline-block;
	}
}

/* Handheld */
@media (max-width:767px) {
	.popup #container {
		width:auto;
	}
	#header,#left,#main,#footer {
		width:auto;
		margin-left:10px;
		margin-right:10px;
	}
	#footer {
		padding-bottom:18px;
	}
	#tmenu {
		line-height:2;
		text-align:left;
	}
	.header_home,.header_user,.header_preview,.header_logout {
		margin-left:0;
		margin-right:15px;
	}
	div.tl_tbox,div.tl_box,fieldset.tl_tbox > div,fieldset.tl_box > div {
		position:relative;
	}
	.tl_header,.tl_content,.tl_content.indent,.tl_listing {
		width:auto;
	}
	.tl_content_left {
		width:100%;
		float:none;
	}
	table.tl_listing {
		width:100%;
	}
	.tl_listing_container {
		margin-left:10px;
		margin-right:10px;
	}
	.showColumns th, .showColumns td {
		display:block;
	}
	.showColumns th:empty {
		display:none;
	}
	.tl_label {
		white-space:normal;
	}
	.list_view .tl_listing img.theme_preview {
		display:none;
	}
	.tl_listing .tl_left {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		max-width:-webkit-calc(100% - 36px);
		max-width:calc(100% - 36px);
	}
	.tl_search .tl_select {
		width:102px;
	}
	.tl_subpanel {
		float:none;
		position:relative;
		padding:3px 6px;
	}
	.tl_filter strong {
		display:none;
	}
	.tl_filter .tl_select {
		display:block;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		width:-webkit-calc(100% - 6px);
		width:calc(100% - 6px);
	}
	.tl_submit_panel {
		float:right;
		z-index:1;
	}
	input.tl_submit {
		margin-top:3px;
		margin-bottom:3px;
		padding-left:6px !important;
		padding-right:7px !important;
	}
	.tl_formbody_edit {
		padding-left:10px;
		padding-right:10px;
	}
	#tl_tablewizard {
		width:430px;
	}
	.tl_listwizard .tl_text {
		width:-webkit-calc(100% - 54px);
		width:calc(100% - 54px);
	}
	.tl_metawizard .tl_text {
		width:100%;
	}
	.tl_metawizard_new .tl_select {
		width:40%;
	}
	.tl_optionwizard .tl_text_2 {
		width:100%;
	}
	#tl_buttons {
		line-height:2;
	}
	#tl_breadcrumb li {
		padding:3px;
	}
	#tl_versions {
		display:none;
	}
	.mac .tl_panel select {
		max-width:none;
	}
	.tl_version_panel .tl_select {
		width:136px;
	}
	#manager {
		margin-left:10px;
		margin-right:10px;
	}
	.tl_modulewizard .tl_select {
		width:100px;
	}
	#paste_hint,.sort_hint {
		display:none;
	}
	#tl_maintenance_cache table {
		width:100%;
	}
	#tl_maintenance_cache tr th:last-child,#tl_maintenance_cache tr td:last-child {
		display:none;
	}
	.mod_repository table th, .mod_repository table td {
		display:block;
		width:100% !important;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
	.mod_repository table tr.title th {
		overflow:hidden;
	}
	.tl_file_list .ellipsis {
		padding-right:10px;
	}
	#tl_navigation .tl_level_2 li {
		min-width:110px;
	}
}

/* Table wizard fix */
@media (max-width:479px) {
	#tl_tablewizard {
		width:272px;
	}
}
